<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="lua" version="5.3.0002.6" targetFramework="Native" />
  <package id="lua.redist" version="5.3.0002.6" targetFramework="Native" />
  <package id="nanomsg" version="0.3.0504.1" targetFramework="Native" />
  <package id="nanomsg.redist" version="0.3.0504.1" targetFramework="Native" />
</packages>